pip==23.1.2
geopandas==0.12.2
geopy==2.3.0
global-land-mask==1.0.0
h5py==3.7.0
imbalanced-learn==0.10.1
ipykernel==6.19.2
keras==2.9.0
matplotlib==3.7.0
mkdocs==1.4.3
mkdocs-material==9.1.15
mkdocs-autorefs==0.4.1
mkdocstrings==0.22.0
opencv-python==4.7.0.72
pandas==1.5.2
pickle5==0.0.11
scikit-learn==1.2.0
scipy==1.7.3
seaborn==0.12.2
tensorboard==2.9.1
tensorflow==2.9.1
tensorflow-hub==0.13.0
xgboost==1.7.3
timezonefinder==6.0.2